.form-field {
  position: relative;

  &:not(:last-child) {
    margin-bottom: 18px;
  }
}

.form-field__label {
  position: absolute;
  top: 8px;
  left: 0;
  transition: all 300ms ease;
}

.form-field__input {
  width: 280px;
  padding: 8px 8px 8px 0;
  border: none;
  border-bottom: 1px solid #3369f3;
  color: #1e1e1e;
  font-size: 13px;

  &:focus {
    outline: none;
  }
}

.form-field_disabled .form-field__input {
  pointer-events: none;
}

.form-field_inline {
  &:not(:last-child) {
    margin-bottom: 8px;
  }

  .form-field__input {
    width: 510px;
    border-bottom-color: #eaeaea;
    text-align: right;

    &:not(:focus) {
      color: #999;
    }
  }
}

.form-field:not(.form-field_inline) {
  .form-field__input:focus,
  .form-field__input:not(:placeholder-shown) {
    & + .form-field__label {
      transform: translate(0, -20px);
      transform-origin: 0 0;
      font-size: 9px;
    }
  }
}
