.message {
  min-width: 100px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
}

.message--outcoming {
  margin-left: auto;
  border-bottom-right-radius: 0;
  background-color: #e4edfd;
}

.message--incoming {
  border-top-left-radius: 0;
  background-color: #f8f8f8;
}
