.user-search-form {
  display: flex;
  align-items: center;
}

.user-search-form__label {
  margin-right: 10px;
}

.user-search-form__results {
  position: relative;
  width: 240px;
  padding: 0 10px;
}

.user-search-form__empty,
.user-search-form__input {
  width: 100%;
  height: 24px;
}

.user-search-form__list,
.user-search-form__empty {
  position: absolute;
  top: 30px;
  left: 0;
  width: 100%;
  background-color: #fff;
}

.user-search-form__empty {
  padding: 5px 10px;
}

.user-search-form__list-item {
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    background-color: #e4edfd;
  }

  &:not(:last-child) {
    margin-bottom: 5px;
  }
}
