.chat-page {
  display: flex;
  justify-content: stretch;
  height: 100vh;
  overflow: hidden;
}

.chat-page__sidebar {
  display: flex;
  flex-direction: column;
  width: 310px;
  padding: 0 10px;
  background-color: #fbfbfb;
}

.chat-page__menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 56px;
}

.chat-page__chats {
  overflow: hidden;
}

.chat-page__messages {
  width: 100%;
  margin-top: auto;
  overflow: hidden;
}

.chat-page__main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 10px 20px;
}

.chat-page__main--active {
  justify-content: stretch;
}
