.button {
  width: 280px;
  height: 37px;
  border: none;
  border-radius: 8px;
  outline: none;
  background-color: #3369f3;
}

.button span {
  color: #fff;
  font-weight: 500;
  font-size: 13px;
}
