.file-field {
  display: flex;
  position: relative;
  width: 122px;
  height: 32px;
  padding: 8px 0;
}

.file-field__input {
  position: absolute;
  opacity: 0;
}

.file-field__text {
  color: #3369f3;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  text-decoration: underline;
}
