.auth-page {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.auth-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 30px 30px;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.14);
}

.auth-form__title {
  margin-bottom: 40px;
  font-weight: 500;
  font-size: 20px;
}

.auth-form__buttons {
  display: flex;
  flex-direction: column;
}

.auth-form__link {
  display: inline-block;
  margin: 6px auto;
  padding: 8px;
}
